* {
    box-sizing: border-box;
    font-size: 0px;
    border-color: white;
    border-style: solid;
}

.top {
    width: 100%;
    height: 100px;
    background-color: #F5C6D6;
    display: inline-block
}

.box {
    width: 25%;
    height: 100px;
    background-color: #EE2E84;
    display: inline-block;
}

.third {
    width: 50%;
    height: 100px;
    background-color: #85CFD8;
    display: inline-block;
}

.fourth {
    width: 75%;
    height: 100px;
    background-color: #8DC63F;
    display: inline-block;
}

.bottom {
    width: 25%;
    height: 100px;
    background-color: #E76E34;
    display: inline-block;
}

@media screen and (max-width:768px) {
    .top {
        display: block;
        width: 100%;
    }
    .box {
        display: block;
        width: 100%;
    }
    .third {
        display: block;
        width: 100%;
    }
    .fourth {
        display: block;
        width: 100%;
    }
    .bottom {
        display: block;
        width: 100%;
    }
}