body {
    font: 20px georgia, sans-serif;
}

.right {
    background-color: blueviolet;
    opacity: .15;
    height: 300px;
}

.left {
    height: 300px;
}

.topimage {
    background: url(http://www.csszengarden.com/214/huntington.jpg);
    height: 300px;
}

.watermark {
    width: 160px;
    margin-top: 40px;
    margin-left: 100px
}

h1 {
    top: 80px;
    left: 10%;
}

h2 {
    top: 60px;
    left: 10%;
}

#arrow {
    width: 60%;
    height: 60px;
    font-size: 80%;
    margin-top: 100px;
}

#button {
    width: 10%;
    height: 60px;
    font-size: 80%;
    margin-top: 100px;    
}

.buttons {
    align-items: center;
}

.side {
    height: 200px;
}

#css {
    text-decoration: underline dotted white;
    opacity: ;
}

#head1, #head2 {
    color: white;
    opacity: .6;
   
}

#head1 {
    font-size: 200%;
    padding-top: 60px;
    
    
}

#head2 {
    font-style: italic;
    font-size: 160%;
}

.p2 {
    height: 920px;
    line-height: 27px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    background: white;
}

.p3 {
    height: 920px;
    background: #c0cac3;
    opacity: .1;
}

.p4 {
    height: 770px;
    background: green;
    line-height: 27px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
}

.p5 {
    height: 770px;
    background: orange;
}

.p6 {
    height: 820px;
    line-height: 27px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    background: white;
}

.p7 {
    height: 820px;
    background: black;
}

.p8 {
    height: 350px;
    line-height: 27px;
    padding-left: 15%;
    padding-top: 7%;
    background-image: url(http://www.csszengarden.com/214/koi.jpg);
    font: italic 1.5em georgia, sans-serif;
	letter-spacing: 2px; 
    line-height: 60px;
    padding-right: 200px;
    text-align: center;
}


.p9 {
    height: 160px;
    background: teal;
}

.p4, .p2, .p6 {
    font: italic normal  georgia, sans-serif;
	letter-spacing: 1px; 
}

.z12, .z13, .z14, .z15, .z16 {
    font: italic normal georgia, sans-serif;
	letter-spacing: 1px; 
} 

.question, .road, .partake, .benefit, .require{
    font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
}

#sidebar2 {
    width: 411.25;
    height: 800;
    padding-top: 60px;
    padding-left: 75px;
}

#sidebox {
    width: 70%;
    height: 114px;
    border-bottom: solid 2px;
    padding-top: 20px;
    line-height: 30px;
}

#sidebox > a {
    font: black;
}
@media (min-width:)