body {
    font: 18px georgia, sans-serif;
	line-height: 1.88889;
	color: rgba(50, 80, 80,1); 
	background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; 
	margin: 0; 
	padding: 0;
}

.right {
    background-color: rgba (31,140,100,0.2);
    opacity: .15;
    height: 300px;
}

.left {
    height: 300px;
}

.topimage {
    background: url(http://www.csszengarden.com/214/huntington.jpg);
    height: 300px;
}

.watermark {
    width: 160px;
    margin-top: 60px;
    margin-left: 100px
}

h1 {
    top: 80px;
    left: 10%;
}

h2 {
    top: 60px;
    left: 10%;
}

#arrow {
    width: 70%;
    height: 60px;
    font-size: 80%;
    margin-top: 110px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    font-style: normal;
    text-transform: uppercase;
    background: white
}

#button {
    width: 10%;
    height: 60px;
    font-size: 1em;
    color: rgba();
}

.side {
    height: 200px;
}

#css {
    text-decoration: underline dotted white;
    opacity: ;
}

#head1, #head2 {
    color: white;
}

#head1 {
    font-size: 200%;
    padding-top: 90px;
    
}

#head2 {
    font-style: italic;
    font-size: 160%;
    opacity: .6;
}

.p2 {
    height: 920px;
    line-height: 27px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    background: white;
}

.p3 {
    height: 920px;
    opacity: .6;
    background-color: rgba(31,140,100,0.33)
}

.p4 {
    height: 770px;
    line-height: 27px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
}

.r3 {
    background-image: url(http://www.csszengarden.com/214/bamboo.png);
     background-color: rgba(31,140,100,0.2)
}

.p9 {
    padding-top: 55px;
    padding-left: 190px;
    right: 
}

.p5 {
    height: 770px;
     background-color: rgba(31,140,100,0.03)
   
}

.p6 {
    height: 820px;
    line-height: 27px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    background-color:  ghostwhite;
}

.p7 {
    height: 820px;
    background: black;
    background-color: rgba(31,140,100,0.13)
}

.p8 {
    height: 350px;
    line-height: 27px;
    padding-left: 15%;
    padding-top: 7%;
    background-image: url(http://www.csszengarden.com/214/koi.jpg);
    font: italic 1.5em georgia, sans-serif;
	letter-spacing: 2px; 
    line-height: 60px;
    padding-right: 200px;
    text-align: center;
    color: ghostwhite;
}


.p9 {
    height: 160px;
    background: #134347;
}

.p4, .p2, .p6 {
    font: italic normal  georgia, sans-serif;
	letter-spacing: 1px; 
}

.z12, .z13, .z14, .z15, .z16 {
    font: italic normal georgia, sans-serif;
	letter-spacing: 1px; 
} 

.question, .road, .partake, .benefit, .require{
    font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
}

#sidebar2 {
    width: 411.25;
    height: 750px;
    padding-top: 20px;
    padding-left: 75px;
}

#sidebar3 {
    width: 411.25;
    height: 750px;
    padding-top: 20px;
    padding-left: 75px;
    color: black;
}

#links {
    margin-bottom: 0.25em;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    font-style: normal;
    text-transform: uppercase;
}

#sidebox1 {
    width: 90%;
    height: 114px;
    border-bottom: solid 2px;
    padding-top: 40px;
    line-height: 25px;
    background: rgba();
}


#sidebox {
    width: 80%;
    height: 114px;
    border-bottom: solid 2px;
    padding-top: 28px;
    line-height: 25px;
}

#sidebox > a {
    font: black;
}


.bold{
    margin-bottom: 0.25em;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1em;
    font-style: normal;
    text-transform: uppercase;
    color: black;
}

.links {
     color: black;
}

#by {
    color: black;
    opacity: .8;
}

#logo {
    width: 15%;
    padding-left: 6%;
    
}

#test {
    font: 'verdemoderna';
}
@media (min-width:)
    
    
    
    
    
    
    
/*    font stuff*/
    /* latin-ext */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(http://fonts.gstatic.com/s/juliussansone/v5/iU65JP9acQHPDLkdalCF7pQnCV4ii-F0S-GDf6mWM7Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(http://fonts.gstatic.com/s/juliussansone/v5/iU65JP9acQHPDLkdalCF7pbhOpL-vLTkIjCTuVYsuO0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5RObNE73mVYEPR_8pi-Us2X2Ot9t5h1GRSTIE78Whtoh.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v4/QHIOz1iKF3bIEzRdDFaf5fbsUggLxuOzHNuXcSFlTaY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK56jerHLVJWaC-9Ja-RK4Ug.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK8j0T1k_tV7QYhgnOhA2764.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


