.we {
     background-color: black;
     height: 150px;
     width: 75%;
     display: block;
}


.are {
     background-color: red;
     height: 150px;
     width: 75%;
     display: block
}


.germany {
    background-color: yellow;
    height: 150px;
    width: 75%;
    display: block;
}

* {
    padding: 10px;
    margin-left: 6%;
}